<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Specialities</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    I Specialise in : 
        </p>
			<ul>
			  <li>
				 <b>Building High Performing Teams.</b>
			  </li>
			  <li>
				<b>Coaching individuals, teams and Organisations.</b>
			</li>
			<li>
				<b>Strategic alignment across the Organisation.</b>
			</li>
			<li>
				<b>Product Discovery, User Research and Product Management Capabilities.</b>
			</li>
			<li>
				<b>End to end Change Management and Rollout.</b>
			</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Coming Soon...........
    		</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
